.site-header,.site-header-actions .select-menu {
    position: relative
}

.markdown-body,body {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden
}

@font-face {
    font-family:octicons;src:font-url(../fonts/octicons.eot?#iefix) format("embedded-opentype"),font-url(../fonts/octicons.woff) format("woff"),font-url(../fonts/octicons.ttf) format("truetype"),font-url(../fonts/octicons.svg#octicons) format("svg");font-weight:400;font-style:normal
}

.pagination {
    padding: 20px 0
}

.pagination a.active {
    background: #337ab7;
    border-color: #337ab7;
    z-index: 2;
    color: #fff;
    cursor: default
}

.text-center {
    text-align: center
}

.btn-inline .btn {
    margin: 5px
}

.site-header {
  /* 修正链接 + 强制覆盖 */
  background: url('https://raw.githubusercontent.com/YLCS-MM/ylcs-mm2.gthub.io/refs/heads/miao/84b1ade4028efc77b2dd33f136c7712c.jpg') 
              center/cover no-repeat !important;
  
  /* 彻底清除蓝色残留 */
  background-color: transparent !important;
  border-bottom: none !important;  /* 移除底部灰线 */
  
  /* 高度优化 */
  min-height: 400px;  /* 建议增大高度 */
  padding: 60px 0;    /* 增加内边距 */
  
  /* 文字优化 */
  color: white;  /* 文字白色 */
  text-shadow: 0 2px 4px rgba(0,0,0,0.8); /* 文字阴影 */
}

/* 必须添加！导航栏透明化 */
.site-header-nav, 
.site-header-nav-item {
  background: transparent !important;
  border: none !important;
  color: inherit !important; /* 继承文字白色 */
}

/* 汉堡菜单按钮变白 */
.site-header button.collapsed span.icon-bar {
  background-color: white !important;
}

.profile-header {
  background: url('https://github.com/user-attachments/assets/ecf0e042-763d-4601-ab25-effad8d2e92f') center/cover no-repeat !important;
  background-color: transparent !important;
}


.site-header .account-switcher {
    display: inline-block;
    margin-top: -2px;
    margin-bottom: -6px
}

.site-header-actions .select-menu:after,.site-header-actions .select-menu:before {
    display: table;
    content: ""
}

.site-header ul.site-header-actions {
    z-index: 21;
    float: right;
    margin: 0
}

.site-header ul.site-header-actions .feed-icon {
    margin-top: 5px
}

.site-header .path-divider {
    margin: 0 .25em
}

.site-header h1 {
    float: left
}

.site-header h1,.site-header h1 .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    vertical-align: top
}

.markdown-body dl dt,.markdown-body table th,.pl-mb,.pl-mdr,.pl-mh,.pl-mh .pl-en,.pl-ms,.pl-sr .pl-cce,.site-header h1 strong {
    font-weight: 700
}

.site-header h1 a {
    white-space: nowrap;
    color: #333
}

.site-header h1 a:hover {
    text-decoration: none
}

.site-header h1 .avatar {
    margin-top: -2px;
    margin-right: 9px;
    margin-bottom: -2px
}

.site-header-actions>li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #333;
    list-style-type: none
}

.site-header-actions>li:last-child {
    margin-right: 0
}

.site-header-actions .octicon-mute {
    color: #c00
}

.site-header-actions .select-menu:after {
    clear: both
}

.site-header-actions .select-menu-modal-holder {
    top: 100%
}

.site-header-nav {
    float: right;
    margin-bottom: -20px
}

.site-header-nav-item {
    display: inline-block;
    padding: 6px 10px 15px;
    margin-left: 1.25rem;
    font-size: 1rem;
    color: #777
}

.site-footer:after,.site-footer:before {
    display: table;
    content: ""
}

.site-header-nav-item:hover {
    color: #333;
    text-decoration: none
}

.site-header-nav-item.selected {
    color: #333;
    padding: 6px 10px 13px;
    border-bottom: 2px solid #d26911
}

.site-header-nav-item+.btn-outline {
    margin-top: -1px;
    margin-left: 20px
}

.site-footer {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    border-top: 1px solid #eee
}

.markdown-body h1,.markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}

.site-footer .copyright {
    padding-right: 20px
}

.site-footer:after {
    clear: both
}

.site-footer .octicon-mark-github {
    position: absolute;
    top: 38px;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    color: #ccc
}

.site-footer .octicon-mark-github:hover {
    color: #bbb
}

.site-footer-links {
    margin: 0;
    list-style: none
}

.site-footer-links li {
    display: inline-block;
    line-height: 16px
}

.site-footer-links li+li {
    margin-left: 10px
}

.share {
    margin: 20px 0
}

.markdown-body {
    overflow: hidden
}

.markdown-body>:first-child {
    margin-top: 0!important
}

.markdown-body>:last-child {
    margin-bottom: 0!important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: #c00
}

.markdown-body .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px
}

.markdown-body .anchor:focus {
    outline: 0
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}

.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    display: inline-block
}

.markdown-body h1 code,.markdown-body h1 tt,.markdown-body h2 code,.markdown-body h2 tt,.markdown-body h3 code,.markdown-body h3 tt,.markdown-body h4 code,.markdown-body h4 tt,.markdown-body h5 code,.markdown-body h5 tt,.markdown-body h6 code,.markdown-body h6 tt {
    font-size: inherit
}

.markdown-body h1 {
    font-size: 2.25em;
    line-height: 1.2
}

.markdown-body h1 .anchor {
    line-height: 1
}

.markdown-body h2 {
    font-size: 1.75em;
    line-height: 1.225
}

.markdown-body h2 .anchor {
    line-height: 1
}

.markdown-body h3 {
    font-size: 1.5em;
    line-height: 1.43
}

.markdown-body h3 .anchor,.markdown-body h4 .anchor {
    line-height: 1.2
}

.markdown-body h4 {
    font-size: 1.25em
}

.markdown-body h5 .anchor,.markdown-body h6 .anchor {
    line-height: 1.1
}

.markdown-body h5 {
    font-size: 1em
}

.markdown-body h6 {
    font-size: 1em;
    color: #777
}

.markdown-body blockquote,.markdown-body dl,.markdown-body ol,.markdown-body p,.markdown-body pre,.markdown-body table,.markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0
}

.markdown-body ol,.markdown-body ul {
    padding-left: 2em
}

.markdown-body ol.no-list,.markdown-body ul.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ol ol,.markdown-body ol ul,.markdown-body ul ol,.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

.markdown-body table td,.markdown-body table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.markdown-body img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.markdown-body .emoji {
    max-width: none
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.markdown-body code,.markdown-body tt {
    font-family: monospace, Consolas, "Liberation Mono", Menlo, Courier;
    padding: 0 2px 0 2px;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
    color: #393a34;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dddddd;
}

.markdown-body code br,.markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre,.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    /* background-color: #f7f7f7; */
    /* border-radius: 3px */
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre code,.markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre code:after,.markdown-body pre code:before,.markdown-body pre tt:after,.markdown-body pre tt:before {
    content: normal
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    /* border-radius: 3px; */
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb
}

.pl-c {
    color: #969896
}

.pl-c1,.pl-s .pl-v {
    color: #0086b3
}

.pl-e,.pl-en {
    color: #795da3
}

.pl-s .pl-s1,.pl-smi {
    color: #333
}

.pl-ent {
    color: #63a35c
}

.pl-k {
    color: #a71d5d
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
    color: #183691
}

.pl-v {
    color: #ed6a43
}

.pl-id {
    color: #b52a1d
}

.pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}

.pl-sr .pl-cce {
    color: #63a35c
}

.pl-ml {
    color: #693a17
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
    color: #1d3e81
}

.pl-mq {
    color: teal
}

.pl-mi {
    color: #333;
    font-style: italic
}

.pl-mb {
    color: #333
}

.pl-md {
    background-color: #ffecec;
    color: #bd2c00
}

.pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}

.pl-mdr {
    color: #795da3
}

.pl-mo {
    color: #1d3e81
}

pre {
    border: 1px solid #ccc;
}

.tools-wrapper {
  position: fixed;
  right: 1em;
  bottom: 3.4375em;
  z-index: 9;
  width: 2.5em;
}

.tools-wrapper a {
  color: #999;
  text-align: center;
  margin-bottom: -1px;
  background: rgba(255, 255, 255, 32);
}

.tools-wrapper span.octicon {
  font-size: 1.5em;
}

.tools-wrapper .gotop {
  display: none;
}

.top-most-flag {
  color: red;
}

a.footnote:hover {
    border-bottom: none
}

a.footnote::before {
    content: "[";
    padding: 0 2px
}

a.footnote::after {
    content: "]";
    padding: 0 2px
}

div.footnotes>ol {
    padding-left: 1.5rem;
    font-size: 0.9rem
}

div.footnotes>ol p {
    margin-bottom: 0.5rem
}

div.footnotes::before {
    content: "";
    display: block;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #ccc;
    width: 20%
}

img + em {
  color: grey;
  display: block;
}

.content-header-ad { display:inline-block; width: 320px; height: 50px; }
@media (max-width: 400px) { .content-header-ad { display: none; } }
@media (min-width:500px) { .content-header-ad { width: 468px; height: 60px; } }
@media (min-width:800px) { .content-header-ad { width: 728px; height: 90px; } }

.site-header-avatar:hover {
  filter: hue-rotate(30deg) brightness(1.1); /* 色调旋转+变亮，更粉 */
  transform: scale(1.1); /* 轻微放大，有互动感 */
  transition: all 0.3s ease; /* 动画过渡自然 */
}
.site-header-avatar {
  width: 48px;          /* 头像尺寸（调大更显眼） */
  height: 48px;        
  border-radius: 50%;   /* 圆形更柔和，像猫爪肉垫~ */
  margin-right: 12px;   /* 和标题保持呼吸感 */
  vertical-align: middle; /* 对齐标题文字 */
  box-shadow: 0 0 8px rgba(255,255,255,0.8); /* 白边发光，模拟猫耳反光 */
  position: relative;   /* 为后续“猫耳伪元素”做定位准备 */
}
/* 看板娘固定右下角（正确写法） */
#live2dcanvas,
.live2d-widget,
#waifu {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  left: auto !important;
  top: auto !important;
  z-index: 9998; /* 确保在弹窗之下 */
  pointer-events: auto;
}

/* 公告弹窗样式（主人喜欢的半透明效果） */
.announcement-popup {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.5) !important; /* 半透明黑色背景 */
  backdrop-filter: blur(5px) !important; /* 毛玻璃效果 */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 9999 !important; /* 在看板娘之上 */
}

.announcement-popup.hidden {
  display: none !important;
}

.popup-content {
  background: rgba(255, 255, 255, 0.95) !important; /* 内容区域微透明 */
  padding: 30px 25px !important;
  border-radius: 15px !important;
  border: 2px solid #90EE90 !important; /* 绿色边框 */
  max-width: 85% !important;
  text-align: center !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2) !important;
}

.popup-title {
  font-size: 1.2rem !important;
  color: #2196F3 !important; /* 蓝色标题 */
  margin-bottom: 15px !important;
  font-weight: bold !important;
}

.popup-text {
  font-size: 0.95rem !important;
  color: #666 !important;
  line-height: 1.6 !important;
  margin-bottom: 20px !important;
  text-align: left !important;
}

.popup-btn {
  padding: 8px 25px !important;
  background: #4CAF50 !important; /* 绿色按钮 */
  color: #fff !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  font-size: 0.9rem !important;
  transition: background 0.3s ease !important;
}

.popup-btn:hover {
  background: #388E3C !important; /* 深绿色悬停效果 */
}

/* 淡入动画 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.announcement-popup {
  animation: fadeIn 0.3s ease !important;
}

/* 公告按钮样式 */
.announcement-button-container {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.announcement-btn {
  background: linear-gradient(135deg, #ff6b6b, #ffa726);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(255, 107, 107, 0.3);
  transition: all 0.3s ease;
  position: relative;
  line-height: 1;
}

.announcement-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(255, 107, 107, 0.4);
}

.announcement-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff4757;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* 移动端适配 */
@media (max-width: 768px) {
  .announcement-button-container {
    margin-left: 10px;
  }
  
  .announcement-btn {
    padding: 4px 8px;
    font-size: 11px;
  }
}
  
